@charset "utf-8";



/*按钮*/
.expressBtn {
    padding: 0 10px;
    height: 26px;
    display: inline-block;
    color: #fff;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
    border-radius: 5px;
}
.expressBtn:hover{
    color:#fff;
}
.expGradient {
    background: #50ace3;
    background: -moz-linear-gradient(top, #50ace3 0%, #117cbb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50ace3), color-stop(100%,#117cbb));
    background: -webkit-linear-gradient(top, #50ace3 0%,#117cbb 100%);
    background: -o-linear-gradient(top, #50ace3 0%,#117cbb 100%);
    background: -ms-linear-gradient(top, #50ace3 0%,#117cbb 100%);
    background: linear-gradient(to bottom, #50ace3 0%,#117cbb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50ace3', endColorstr='#117cbb',GradientType=0 );
}
.disabled_btn{background-color:#c9c9c9; cursor:default;}


/*checkbox*/
.check_box i .check_all i{
    display: inline-block;
    background: url('../images/check_green.png') no-repeat;
    width: 20px;
    height: 20px;
    margin-left:20px;
    cursor:pointer;
    position:relative;
    top:1px;
}
.check_box i.checked{
    background-position: 0px -20px;
}
.check_all i.checked{
    background-position: 0px -20px;
}

input[type="radio"] {
    opacity: 0;
    margin-left: 5px;
    width: 22px;
    height: 22px;
    display: inline-block;
}
input[type="radio"] +label {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}
input[type="radio"] +label:after {
    content: "";
    background-image: url(../images/radio.png);
    background-repeat: no-repeat;
    position: absolute;
    left: -27px;
    top: -1px;
}
input[type="radio"], input[type="radio"] +label:after {
    width: 22px;
    height: 22px;
    display: inline-block;
}
input[type="radio"]:checked +label:after {
    background-position: 0 0;
}
input[type="radio"] +label:after {
    background-position: -24px 0;
}

/*向上的箭头*/
.help_wrap_text b{
    position:absolute;top:-15px;left:144px;display:inline-block;width:20px;height:20px;
    border-top:1px solid #bbbbbb;border-left:1px solid #bbbbbb;

    transform:rotate(45deg);
    transform-origin:20% 40%;
    -ms-transform:rotate(45deg);/* IE 9 */
    -ms-transform-origin:20% 40%; /* IE 9 */
    -webkit-transform:rotate(45deg);   /* Safari 和 Chrome */
    -webkit-transform-origin:20% 40%;   /* Safari 和 Chrome */
    -moz-transform:rotate(45deg);      /* Firefox */
    -moz-transform-origin:20% 40%;      /* Firefox */
    -o-transform:rotate(45deg);        /* Opera */
    -o-transform-origin:20% 40%;
    
    z-index:20;background-color:#fff;
}

/*关闭*/
.div-close-wrap{
    width:20px;
    height: 20px;
    position: relative;
    overflow:hidden;
}
.div-close-wrap b{

}


/*radius按钮*/
input[type="radio"] {
    opacity: 0;
    margin-left: 5px;
    width: 22px;
    height: 22px;
    display: inline-block;
}
input[type="radio"] +label {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}
input[type="radio"] +label:after {
    content: "";
    background-image: url(../images/radio.png);
    background-repeat: no-repeat;
    position: absolute;
    left: -27px;
    top: -1px;
}
input[type="radio"], input[type="radio"] +label:after {
    width: 22px;
    height: 22px;
    display: inline-block;
}
input[type="radio"]:checked +label:after {
    background-position: 0 0;
}
input[type="radio"] +label:after {
    background-position: -24px 0;
}
